/* src/App.css */
.App {
  font-family:  'Times New Roman', Times, serif;
  margin: 60px;
  
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.cart {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid greenyellow;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: cyan;
}
